// Primary Colors
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neuteral Colors
$veryDarkBlueBG: hsl(217, 54%, 11%);
$veryDarkBlueCBG: hsl(216, 50%, 16%);
$veryDarkBlueL: hsl(215, 50%, 16%);
$white: hsl(0, 0%, 100%);
